body{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.settings{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.color-settings{
    display: flex;
    flex-direction: row;
}

.sketch-pad{
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.pixel{
    box-sizing: border-box;
}

.pixel:hover{
    background-color: aqua;
}
